# Ignore everything in the root 
# except the .gitignore and specific plugins and themes 
# in "wp-content"
/*
!.gitignore
!README.md

wp-content/*
!wp-content/mu-plugins
!wp-content/plugins
!wp-content/themes

wp-content/plugins/*
!wp-content/plugins/my-plugin

wp-content/themes/*
!wp-content/themes/10up-mj-theme